<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<div class="row">
</div>
  

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
 
    <tr>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pen1.png" alt="Invalid error" ></td><p>Pendrive 128gb</p><h1>100zł</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pen2.png" alt="Invalid error"></td> <p>Pendrive 70gb</p><h1>50zł</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pen3.png" alt="Invalid error"></td> <p>Pendrive 10gb</p><h1>20zł</h1></button>
      
      
    </tr>
    <tr>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/mon1.png" alt="Invalid error"></td> <p>Monitor hd</p><h1>400zł</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/mon2.png" alt="Invalid error"></td> <p>Monitor 4k</p><h1>1000zł</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/mic1.png" alt="Invalid error"></td> <p>Microfala wielofunkcyjna </p><h1>300zł</h1></button>
      
    </tr>

    <tr>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/mic2.png" alt="Invalid error"></td> <p>Luksusowa Microfala wielofunkcyjna<p><h1>Jedyne 709zł!!!</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/mic3.png" alt="Invalid error"></td> <p>Dobra pralka</p><h1>1000zł</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/wash4.png" alt="Invalid error"></td> <p>Pralka Frania</p><h1>500zł</h1></button>
      
    </tr>

    <tr>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/wash1.png" alt="Invalid error"></td> <p>Pralka dla każdego</p><h1>700zł</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/wash2.png" alt="Invalid error"></td> <p>Pralka wielofunkcyjna</p><h1>1990zł</h1></button>
        <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/wash3.png" alt="Invalid error"></td> <p>Luksusowa Pralka wielofunkcyjna</p><h1>7000zł</h1></button>
      
    </tr>

  </table>