

<div class="row">
</div>
  

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
 
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/chair.png" alt="Invalid error" ></td><p>Bardzo wygodne krzesło</p><h1>Jedyne 199zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/chair2.png" alt="Invalid error"></td> <p>Świetne buty na każdą okazje</p><h1>Jedyne 109zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/chair3.png" alt="Invalid error"></td> <p>i</p><h1>Jedyne 399zł!!!</h1></button>
      
      
    </tr>
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/tAb.png" alt="Invalid error"></td> <p>Buty dzięki którym zabłyśniesz w towarzystwie</p><h1>Jedyne 599zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/tab1.png" alt="Invalid error"></td> <p>Szpanerskie cichochody</p><h1>Jedyne 209zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/tab3.png" alt="Invalid error"></td> <p>Extra kalosze do biegania</p><h1>Jedyne 99zł!!!</h1></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/szaf1.png" alt="Invalid error"></td> <p>Prestiżowe trampki</p><h1>Jedyne 709zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/szaf2.png" alt="Invalid error"></td> <p>Lukus na twoją kieszeń</p><h1>Jedyne 100zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/szaf3.png" alt="Invalid error"></td> <p>Buty codzzienne</p><h1>Jedyne 159zł!!!</h1></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/bed1.png" alt="Invalid error"></td> <p>Buty dla każdego</p><h1>Jedyne 499zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/bed2.png" alt="Invalid error"></td> <p>Buty dla koneserów</p><h1>Jedyne 199zł!!!</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/bed3.png" alt="Invalid error"></td> <p>Po prostu buty</p><h1>Jedyne 19zł!!!</h1></button>
      
    </tr>
    <app-pagination></app-pagination>
  </table>

      