

<div class="row">
</div>
  

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
 
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu1.png" alt="Invalid error" ></td><p>Lukusowe buty do biegania</p><p>Jedyne 199zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu2.png" alt="Invalid error"></td> <p>Świetne buty na każdą okazje</p><p>Jedyne 109zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu3.png" alt="Invalid error"></td> <p>Innowacyjne laczki</p><p>Jedyne 399zł!!!</p></button>
      
      
    </tr>
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu4.png" alt="Invalid error"></td> <p>Buty dzięki którym zabłyśniesz w towarzystwie</p><p>Jedyne 599zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu5.png" alt="Invalid error"></td> <p>Szpanerskie cichochody</p><p>Jedyne 209zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu6.png" alt="Invalid error"></td> <p>Extra kalosze do biegania</p><p>Jedyne 99zł!!!</p></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu7.png" alt="Invalid error"></td> <p>Prestiżowe trampki</p><p>Jedyne 709zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu8.png" alt="Invalid error"></td> <p>Lukus na twoją kieszeń</p><p>Jedyne 100zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu9.png" alt="Invalid error"></td> <p>Buty codzzienne</p><p>Jedyne 159zł!!!</p></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu10.png" alt="Invalid error"></td> <p>Buty dla każdego</p><p>Jedyne 499zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu11.png" alt="Invalid error"></td> <p>Buty dla koneserów</p><p>Jedyne 199zł!!!</p></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/blu12.png" alt="Invalid error"></td> <p>Po prostu buty</p><p>Jedyne 19zł!!!</p></button>
      
    </tr>

  </table>


