
<div class="row">
</div>
  

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
 
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc1.png" alt="Invalid error" ></td><p>Super zieleń</p><h1>24zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc2.png" alt="Invalid error"></td> <p>Asymetria barw</p><h1>15zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc3.png" alt="Invalid error"></td> <p>Wygodne skarpety na codziń</p><h1>30zł</h1></button>
      
      
    </tr>
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc4.png" alt="Invalid error"></td> <p>Skarpety dzięki którym zabłyśniesz w towarzystwie</p><h1>19zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc5.png" alt="Invalid error"></td> <p>Skarpety nocne</p><h1>17zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc6.png" alt="Invalid error"></td> <p>Skarpety dwukolorowe</p><h1>11zł</h1></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc7.png" alt="Invalid error"></td> <p>Niebieski prestiż</p><h1>23zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc8.png" alt="Invalid error"></td> <p>Lukus na twoją kieszeń</p><h1>14zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc9.png" alt="Invalid error"></td> <p>Ciapkowate podkolanówki</p><h1>29zł</h1></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc10.png" alt="Invalid error"></td> <p>Kolorowe skarpety</p><h1>12zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc11.png" alt="Invalid error"></td> <p>Piłakrski róż</p><h1>26zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/soc12.png" alt="Invalid error"></td> <p>Po prostu skarpety</p><h1>13zł</h1></button>
      
    </tr>

  </table>

