<div class="row">
</div>
  

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
 
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan1.png" alt="Invalid error" ></td><p>Spodnie brązowe na codzień</p><h1>99zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan2.png" alt="Invalid error"></td> <p>Spodnie Garniturowe dobrej jakości</p><h1>119zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan3.png" alt="Invalid error"></td> <p>Tureckie jeansy</p><h1>80zł</h1></button>
      
      
    </tr>
    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan4.png" alt="Invalid error"></td> <p>Ciemne spodnie na szelkach</p><h1>200zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan5.png" alt="Invalid error"></td> <p>Spodnie robocze</p><h1>50zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan6.png" alt="Invalid error"></td> <p>Luzackie spodnie</p><h1>200zł</h1></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan7.png" alt="Invalid error"></td> <p>Czarne spodnie garniturowe</p><h1>109zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan8.png" alt="Invalid error"></td> <p>Jeansy na codzień</p><h1>115zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan9.png" alt="Invalid error"></td> <p>Luzine Jeansy</p><h1>114zł</h1></button>
      
    </tr>

    <tr>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan10.png" alt="Invalid error"></td> <p>Niebieskie rurki</p><h1>99zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan11.png" alt="Invalid error"></td> <p>Granatowe spodnie garnitorowe</p><h1>100zł</h1></button>
      <button class="button2"><td><img class="fakeimg"  src="assets/zdjęcia na strone/pan12.png" alt="Invalid error"></td> <p>Po prostu spodnie</p><h1>190zł</h1></button>
      
    </tr>
    
  </table>

