.flipswitch {
    position: relative;
    width: 76px;
  }
  .flipswitch input[type=checkbox] {
    display: none;
  }
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 9px;
  }
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 27px;
    padding: 0;
    line-height: 27px;
    font-size: 19px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  .flipswitch-inner:before {
    content: "🌙";
    padding-left: 12px;
    background-color: #02070A;
    color: #FFFFFF;
  }
  .flipswitch-inner:after {
    content: "☀️";
    padding-right: 12px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
  }
  .flipswitch-switch {
    width: 31px;
    margin: -2px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 9px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 47px;
    transition: all 0.3s ease-in 0s;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }
  