<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
    
 
      
          
          <h1 class="p1">Polecamy</h1>
         <div class="column">
          <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/but_2.png" alt="Tekst alternatywny"></button>
         <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/blu4.png" alt="Tekst alternatywny"> </button>
         <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/but4.png" alt="Tekst alternatywny"> </button>
         <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/blu5.png" alt="Tekst alternatywny"> </button>
          <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/chair3.png" alt="Tekst alternatywny"></button>  
          </div>
          <h1 class="p1">Polecamy</h1>
            <div class="column">
            <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/tab3.png" alt="Tekst alternatywny"></button> 
            <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/bed2.png" alt="Tekst alternatywny"> </button>
            <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/chair.png" alt="Tekst alternatywny"></button> 
            <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/chair3.png" alt="Tekst alternatywny"></button>  
            <button class="button0"><img class="fakeimg"  style="width:300px;" src="assets/zdjęcia na strone/chair3.png" alt="Tekst alternatywny"></button>  
         </div>
    <div class="card">
        
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-instagram"></a>
      
      
    </div>
  


  
  </body>


