<div id="content">
<div id="sidebar">
    <h3>Meble do domu i nie tylko</h3>
    <p></p>
    <img class="chair" src="assets/zdjęcia na strone/chair.png" alt="Tekst alternatywny"> 
    <img class="chair2" src="assets/zdjęcia na strone/chair2.png" alt="Tekst alternatywny">
    <img class="chair3" src="assets/zdjęcia na strone/chair3.png" alt="Tekst alternatywny">
    <img class="chair4" src="assets/zdjęcia na strone/chair4.png" alt="Tekst alternatywny">
    <div class="pagination2">
      <a href="#" class="active"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      
    </div>
  </div>

  
  <hr class="outset">
  
  <div id="sidebar">
    <h3>Obuwie</h3>
    <p></p>
    <img class="chair" src="assets/zdjęcia na strone/but_2.png" alt="Tekst alternatywny"> 
    <img class="chair2" src="assets/zdjęcia na strone/buty1.png" alt="Tekst alternatywny"> 
    <img class="chair3" src="assets/zdjęcia na strone/buty3.png" alt="Tekst alternatywny"> 
    <img class="chair4" src="assets/zdjęcia na strone/kalosze.png" alt="Tekst alternatywny"> 
    <div class="pagination2">
      
      <a href="#" class="active"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      
    </div>
  </div>
  
  <hr class="outset">
  
  <div id="sidebar">
    <h3>Rośliny do domu i nie tylo</h3>
    <p></p>
    <img class="chair" src="assets/zdjęcia na strone/aloes.png" alt="Tekst alternatywny"> 
    <img class="chair2" src="assets/zdjęcia na strone/cactus.png" alt="Tekst alternatywny"> 
    <img class="chair3" src="assets/zdjęcia na strone/cactus2.png" alt="Tekst alternatywny"> 
    <img class="chair4" src="assets/zdjęcia na strone/flower.png" alt="Tekst alternatywny"> 
    <div class="pagination2">
      
      <a href="#" class="active"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      
    </div>
   
  </div>
</div>
