.chair {
    position: relative;
    width: 370px;
    height: 350px;
    top: auto;
    right: 110px;
    
    border-radius: 10px;
  }
  .chair2 {
    position: relative;
    width: 370px;
    height: 350px;
    top: 5px;
    right: 40px;

    border-radius: 10px;
  }
  .chair3 {
    position: relative;
    width: 370px;
    height: 350px;
    top: 5px;
    left: 30px;
    border-radius: 10px;
  }
  .chair4 {
    position: relative;
    width: 370px;
    height: 350px;
    top: 5px;
    left: 100px;
    border-radius: 10px;
  }

  .pagination2 a {
    color: black;
    position: relative;
    top: 160px;
    left: 700px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination2 a.active {
    
    color: rgb(247, 135, 8);
  }
  
  .pagination2 a:hover:not(.active) {
    background-color: #d69393;
    border-radius: 10px;
  }
